@import "../commons/css/common.css";

:root {
  --clock-size: 400px;
  --hour-hand-size: 100px;
  --min-hand-size: 140px;
  --sec-hand-size: 160px;
  --hand-border-size: 4px;
  --clock-border-size: 5px;
}

.clock {
  background-image: url(assets/clock-face.png);
  position: relative;
  border: var(--clock-border-size) solid black;
  height: var(--clock-size);
  border-radius: 50%;
  width: var(--clock-size);
  background-size: var(--clock-size) var(--clock-size);
}

.hour {
  border-color: black;
  width: var(--hour-hand-size);
  z-index: 1;
}

.min {
  border-color: black;
  width: var(--min-hand-size);
  z-index: 2;
}

.sec {
  border-color: var(--clock-red-color);
  width: var(--sec-hand-size);
  z-index: 3;
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: var(--hand-border-size);
  border-style: solid;
  border-radius: 1rem;
  transform-origin: 0;
}

.center-point {
  background: black;
  width: calc(var(--clock-size) / 16);
  height: calc(var(--clock-size) / 16);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
  border-radius: 50%;
  z-index: 4;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :root {
    --clock-size: 200px;
    --hour-hand-size: 50px;
    --min-hand-size: 70px;
    --sec-hand-size: 80px;
    --hand-border-size: 2px;
    --clock-border-size: 3px;
  }
}
