@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600&display=swap");

:root {
  --grey-color: #5d5d5d;
  --key-highlight-color: #dada00;
  --clock-red-color: #cd1820;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Golos Text", sans-serif;
  margin: unset;
}

p {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
