@import "../commons/css/common.css";

html,
body {
  font-size: 1.1rem;
}

#array-methods {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 2rem;
  }

  #array-methods {
    gap: 1rem;
  }
}
